@use "variables" as *;

.sidebar-menu {
    background-color: $primary-blue-color;

    .nav-menu {
        height: calc(100% - 120px);
        margin: auto;
        ul {
            li {
                a {
                    position: relative;
                    color: $tertiary-blue-color;

                    &:hover {
                        color: $primary-blue-color;

                        path {
                            stroke: $primary-blue-color;
                        }

                        &:before {
                            width: 50px;
                        }
                    }

                    &:before {
                        z-index: -1;
                        height: 50px;
                        width: 0px;
                        position: absolute;
                        background-color: #fff;
                        content: "";
                        left: 50%;
                        border-radius: 10px;
                        transform: translateX(-50%);
                    }
                }

                svg {
                    width: 36px;
                    height: 36px;

                    path {
                        stroke: $tertiary-blue-color;
                    }
                }

                .btn-submenu {
                    transform: rotate(180deg);

                    &.open-submenu {
                        transform: rotate(0deg);
                    }

                    svg {
                        width: 25px;
                        height: 25px;
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    &.open {
        .nav-menu {
            ul {
                li {
                    a {
                        &:hover {
                            color: #fff;

                            path {
                                stroke: #fff;
                            }

                            &:before {
                                width: 5px;
                            }
                        }
                        &:before {
                            height: 100%;
                            position: absolute;
                            background-color: #fff;
                            width: 0px;
                            content: "";
                            left: 3px;
                            top: 0;
                            border-top-right-radius: 50px;
                            border-bottom-right-radius: 50px;
                        }
                    }
                }
                svg {
                    margin-right: 28px;
                }
            }
        }
    }

    &:not(.open) {
        .nav-menu {
            ul {
                li {
                    position: relative;

                    .submenu {
                        position: absolute;
                        background-color: $primary-blue-color;
                        left: 100%;
                        top: 0;
                        width: 180px;

                        li {
                            margin-bottom: 0px;

                            a:hover {
                                background-color: #fff;
                            }

                            a:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#table-search {
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        background-color: red;
        background-repeat: no-repeat;
        padding: 1px;
        background-position: center center;
        background-size: 15px 15px;
        background-image: -webkit-gradient(
                linear,
                left top,
                right bottom,
                from(transparent),
                color-stop(0.46, transparent),
                color-stop(0.46, #fff),
                color-stop(0.54, #fff),
                color-stop(0.54, transparent),
                to(transparent)
            ),
            -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fff), color-stop(0.54, #fff), color-stop(0.54, transparent), to(transparent)) !important;
        border: 2px solid red;
        box-sizing: border-box;
        height: 15px;
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5em;
        border-radius: 1em;
    }
}

.heading-title {
    font-weight: semi-bold;
    font-size: 40px;
    color: $primary-blue-color;
}

.has-error {
    position: relative;

    select,
    input,
    textarea,
    label {
        border-color: oklch(64.5% 0.246 16.439);
    }

    .error-notes {
        position: absolute;
        font-size: 12px;
    }
}

.actions {
    svg {
        height: 15px;
        width: 15px;

        * {
            stroke: #fff;
        }
    }

    .action {
        &-delete,
        &-edit {
            * {
                fill: #fff !important;
            }
        }
    }
}
.action-preview {
    svg {
        height: 24px;
        width: 24px;
    }
    &:hover {
        path,
        circle {
            stroke: #fff !important;
        }
    }
}

.sidebar-toggle {
    width: 25px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    .sidebar-menu & span {
        background-color: #fff;
    }

    span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $primary-blue-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0;
            transform-origin: left center;
        }

        &:nth-child(2) {
            top: 10px;
            transform-origin: left center;
        }

        &:nth-child(3) {
            top: 20px;
            transform-origin: left center;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 2px;
                left: 5px;
            }

            &:nth-child(2) {
                width: 0;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 20px;
                left: 5px;
            }
        }
    }
}

ul {
    li {
        &.has-submenu {
            .btn-submenu {
                transform: rotate(180deg);

                &.open-submenu {
                    transform: rotate(0deg);
                }

                svg {
                    width: 25px;
                    height: 25px;
                    margin-right: 0px;
                }
            }
            ul {
                overflow: hidden;
            }
        }
    }
}

.recharts-wrapper {
    &:focus,
    &:focus-visible {
        outline: none;
    }

    path {
        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}

.toggle-switch {
    display: none;
    position: relative;

    & + label .small {
        font-size: 0.8em;
        color: #999;
        line-height: 1.5em;
        display: block;
    }

    & + label {
        span.sw {
            display: inline-block;
            width: 31px;
            height: 15px;
            float: left;
            border-radius: 8px;
            margin-right: 10px;
            margin-left: 10px;
            background-color: #b2b2b2;

            &:before {
                content: "";
                position: absolute;
                background-color: #eee;
                margin-top: -4px;
                margin-left: -6px;
                height: 23px;
                width: 23px;
                border-radius: 15px;
                transition: all ease 300ms;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
            }
        }
    }

    &:checked {
        & + label {
            span {
                &.sw {
                    background-color: #00a63e54;
                }

                &:before {
                    margin-left: 14px;
                    background-color: #00c951;
                }
            }
        }
    }
}

.editor-html {
    @apply p-2 min-h-[120px];

    // Reset basic text styles
    p {
        margin: 0 0 0.5rem;
        line-height: 1.5;
    }

    // Headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin: 0.75rem 0 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.125rem;
    }

    // Lists
    ul,
    ol {
        margin: 0.5rem 0 0.5rem 1.5rem;
        padding-left: 1.25rem;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        margin: 0.25rem 0;
        line-height: 1.5;
    }

    // Bold / Italic / Underline
    strong {
        font-weight: 600;
    }
    em {
        font-style: italic;
    }
    u {
        text-decoration: underline;
    }

    // Alignment
    [style*="text-align: center"] {
        text-align: center;
    }
    [style*="text-align: right"] {
        text-align: right;
    }
    [style*="text-align: justify"] {
        text-align: justify;
    }
}

.overlay {
    &-wrapper {
        position: relative;
        overflow: hidden;
    }

    &-text {
        position: relative;
        z-index: 1;
    }

    &-img {
        position: absolute;
        top: 50%;
        z-index: 0;
        transform: translateY(-50%);
        overflow-y: hidden;
        right: 0;
        left: 0;
    }
}

.pin-notif {
    button {
        svg {
            path {
                stroke: var(--color-gray-700);
            }
        }
        &:hover {
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
    &-visibility {
        button {
            &:hover {
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.guidelines-list {
    > li {
        margin-bottom: 16px;
    }
    li {
        color: var(--color-gray-700);
    }
}

.list {
    list-style-type: disc;
    padding-left: 32px;
    > li {
        margin-bottom: 12px;
    }
    li {
        color: var(--color-gray-700);
    }
}
.camera-button {
    svg {
        path {
            fill: #fff;
        }
    }
}
.bg-opacity {
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: lighten;
}

.nav-menu {
    @include respond(sm) {
        // overflow: hidden;
        transition: max-height 0.4s ease;
    }

    &.open {
        position: absolute;
        display: block;
        left: 0;
        z-index: 99;
        background-color: #fff;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;

        li {
            flex: 0 0 1;
            margin-bottom: 10px;
            a:not(.btn) {
                display: block;
                padding: 10px 0px;
            }

            &:hover {
                a:not(.btn) {
                    background-color: var(--color-blue-500);
                    color: #fff;
                }
            }
        }
    }
}

#hero {
    .hero-title {
        @media (max-width: 470px) {
            width: 100% !important;
        }
    }
}

.political-group-logo {
    position: absolute;
    right: 5px;
    top: -60px;
    background-color: #fff;
    border-radius: 50%;

    @include respond(sm) {
        top: -60px;
    }

    @include respond(md) {
        right: -20px;
        top: -80px;
    }

    @include respond(lg) {
        top: -60px;
    }
}
